<a href="https://colab.research.google.com/github/asrianda/jurnal/blob/main/jurnal_Ukrania_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_csv('marketing_campaign.csv',delimiter=';')
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

In [3]:
#df['Year_Birth'].value_counts()
#df=df.drop(['ID','Dt_Customer','Year_Birth'],axis=1)
#df=df.drop(['Z_CostContact', 'Z_Revenue'],axis=1)
df.head()

,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,Graduation,Single,58138.0,0,0,58,635,88,546,172,...,10,4,7,0,0,0,0,0,0,1
1,Graduation,Single,46344.0,1,1,38,11,1,6,2,...,1,2,5,0,0,0,0,0,0,0
2,Graduation,Together,71613.0,0,0,26,426,49,127,111,...,2,10,4,0,0,0,0,0,0,0
3,Graduation,Together,26646.0,1,0,26,11,4,20,10,...,0,4,6,0,0,0,0,0,0,0
4,PhD,Married,58293.0,1,0,94,173,43,118,46,...,3,6,5,0,0,0,0,0,0,0

In [4]:
df['MntMeatProducts'].value_counts()

MntMeatProducts
7      53
5      50
11     49
8      46
6      43
       ..
116     1
569     1
685     1
354     1
182     1
Name: count, Length: 558, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Education            2240 non-null   object
 1   Marital_Status       2240 non-null   object
 2   Income               2216 non-null   float64
 3   Kidhome              2240 non-null   int64
 4   Teenhome             2240 non-null   int64
 5   Recency              2240 non-null   int64
 6   MntWines             2240 non-null   int64
 7   MntFruits            2240 non-null   int64
 8   MntMeatProducts      2240 non-null   int64
 9   MntFishProducts      2240 non-null   int64
 10  MntSweetProducts     2240 non-null   int64
 11  MntGoldProds         2240 non-null   int64
 12  NumDealsPurchases    2240 non-null   int64
 13  NumWebPurchases      2240 non-null   int64
 14  NumCatalogPurchases  2240 non-null   int64
 15  NumStorePurchases    2240 non-null   int64
 16  NumWebVisitsMonth    2240 non-null   int64
 17  AcceptedCmp3         2240 non-null   int64
 18  AcceptedCmp4         2240 non-null   int64
 19  AcceptedCmp5         2240 non-null   int64
 20  AcceptedCmp1         2240 non-null   int64
 21  AcceptedCmp2         2240 non-null   int64
 22  Complain             2240 non-null   int64
 23  Response             2240 non-null   int64
dtypes: float64(1), int64(21), object(2)
memory usage: 420.1+ KB

In [9]:
df.isnull().sum()

Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Response               0
dtype: int64

In [7]:
#df['Income'].value_counts()
#-- Mengganti nilai null dengan rata-rata income --
rata=df['Income'].mean()
df['Income']=df['Income'].fillna(rata)

In [8]:
df['Income'].value_counts()

Income
52247.251354    24
7500.000000     12
35860.000000     4
37760.000000     3
83844.000000     3
                ..
40760.000000     1
41452.000000     1
6835.000000      1
33622.000000     1
52869.000000     1
Name: count, Length: 1975, dtype: int64

In [10]:
min=df['Income'].min()
max=df['Income'].max()
print(min,max)

1730.0 666666.0

In [12]:
bins=[1730,5000,10000,50000,100000,300000,500000]
names=['1730-<5000','5000-<10000','10000-<50000','50000-<100000','100000-<300000','300000-<500000','>500000']
d = dict(enumerate(names, 1))
df['Income_range']=np.vectorize(d.get)(np.digitize(df['Income'],bins))
df['Income_range']

0       50000-<100000
1        10000-<50000
2       50000-<100000
3        10000-<50000
4       50000-<100000
            ...
2235    50000-<100000
2236    50000-<100000
2237    50000-<100000
2238    50000-<100000
2239    50000-<100000
Name: Income_range, Length: 2240, dtype: object

In [13]:
#df['Recency'].value_counts()
min_R=df['Recency'].min()
max_R=df['Recency'].max()
print(min_R,max_R)

0 99

In [14]:
bins=[0,10,30,50,70,80,90]
names=['0-<10','10-<30','30-<50','50-<70','70-<80','80-<90','>90']
d = dict(enumerate(names, 1))
df['Recency_range']=np.vectorize(d.get)(np.digitize(df['Recency'],bins))
#df.head()

In [15]:
min_W=df['MntWines'].min()
max_W=df['MntWines'].max()
print(min_W,max_W)
#

0 1493

In [16]:
bins=[0,10,50,100,200,500,1000,1200]
names=['0-<10','10-<50','50-<100','100-<200','200-<500','500-<1000','1000-<1200','>1200']
d = dict(enumerate(names, 1))
df['MntWines_range']=np.vectorize(d.get)(np.digitize(df['MntWines'],bins))
#df.head()

In [17]:
min_F=df['MntFruits'].min()
max_F=df['MntFruits'].max()
print(min_F,max_F)

0 199

In [23]:
bins=[0,10,50,70,100,120,150]
names=['0-<10','10-<50','50-<70','70-<100','100-<120','120-<150','>150']
d = dict(enumerate(names, 1))
df['MntFruits_range']=np.vectorize(d.get)(np.digitize(df['MntFruits'],bins))
#df.head()

In [21]:
min=df['MntFishProducts'].min()
max=df['MntFishProducts'].max()
print(min,max)
#

0 259

In [27]:
bins=[0,10,50,100,150,200,250]
names=['0-<10','10-<50','50-<100','100-<150','150-<200','200-<250','>250']
d = dict(enumerate(names, 1))
df['MntFishProducts_range']=np.vectorize(d.get)(np.digitize(df['MntFishProducts'],bins))
#df.head()

In [25]:
min=df['MntSweetProducts'].min()
max=df['MntSweetProducts'].max()
print(min,max)

0 263

In [26]:
bins=[0,10,50,100,150,200,250]
names=['0-<10','10-<50','50-<100','100-<150','150-<200','200-<250','>250']
d = dict(enumerate(names, 1))
df['MntSweetProducts_range']=np.vectorize(d.get)(np.digitize(df['MntSweetProducts'],bins))
df.head()

,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Income_range,Recency_range,MntWines_range,MntFruits_range,MntFishProducts_range,MntSweetProducts_range
0,Graduation,Single,58138.0,0,0,58,635,88,546,172,...,0,0,0,1,50000-<100000,50-<70,500-<1000,70-<100,150-<200,50-<100
1,Graduation,Single,46344.0,1,1,38,11,1,6,2,...,0,0,0,0,10000-<50000,30-<50,10-<50,0-<10,0-<10,0-<10
2,Graduation,Together,71613.0,0,0,26,426,49,127,111,...,0,0,0,0,50000-<100000,10-<30,200-<500,10-<50,100-<150,10-<50
3,Graduation,Together,26646.0,1,0,26,11,4,20,10,...,0,0,0,0,10000-<50000,10-<30,10-<50,0-<10,10-<50,0-<10
4,PhD,Married,58293.0,1,0,94,173,43,118,46,...,0,0,0,0,50000-<100000,>90,100-<200,10-<50,10-<50,10-<50

In [30]:
min=df['MntGoldProds'].min()
max=df['MntGoldProds'].max()
print(min,max)

0 362

In [31]:
#df['MntGoldProds'].value_counts()
bins=[0,10,50,100,150,200,250,300,350]
names=['0-<10','10-<50','50-<100','100-<150','150-<200','200-<250','250-<300','300-<350','>350']
d=dict(enumerate(names,1))
df['MntGoldProds_range']=np.vectorize(d.get)(np.digitize(df['MntGoldProds'],bins))
df.head()

,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,AcceptedCmp2,Complain,Response,Income_range,Recency_range,MntWines_range,MntFruits_range,MntFishProducts_range,MntSweetProducts_range,MntGoldProds_range
0,Graduation,Single,58138.0,0,0,58,635,88,546,172,...,0,0,1,50000-<100000,50-<70,500-<1000,70-<100,150-<200,50-<100,50-<100
1,Graduation,Single,46344.0,1,1,38,11,1,6,2,...,0,0,0,10000-<50000,30-<50,10-<50,0-<10,0-<10,0-<10,0-<10
2,Graduation,Together,71613.0,0,0,26,426,49,127,111,...,0,0,0,50000-<100000,10-<30,200-<500,10-<50,100-<150,10-<50,10-<50
3,Graduation,Together,26646.0,1,0,26,11,4,20,10,...,0,0,0,10000-<50000,10-<30,10-<50,0-<10,10-<50,0-<10,0-<10
4,PhD,Married,58293.0,1,0,94,173,43,118,46,...,0,0,0,50000-<100000,>90,100-<200,10-<50,10-<50,10-<50,10-<50

In [32]:
df=df.drop(['Income','Recency','MntWines','MntFruits','MntFishProducts','MntSweetProducts','MntGoldProds'],axis=1)
df.head()

,Education,Marital_Status,Kidhome,Teenhome,MntMeatProducts,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,...,AcceptedCmp2,Complain,Response,Income_range,Recency_range,MntWines_range,MntFruits_range,MntFishProducts_range,MntSweetProducts_range,MntGoldProds_range
0,Graduation,Single,0,0,546,3,8,10,4,7,...,0,0,1,50000-<100000,50-<70,500-<1000,70-<100,150-<200,50-<100,50-<100
1,Graduation,Single,1,1,6,2,1,1,2,5,...,0,0,0,10000-<50000,30-<50,10-<50,0-<10,0-<10,0-<10,0-<10
2,Graduation,Together,0,0,127,1,8,2,10,4,...,0,0,0,50000-<100000,10-<30,200-<500,10-<50,100-<150,10-<50,10-<50
3,Graduation,Together,1,0,20,2,2,0,4,6,...,0,0,0,10000-<50000,10-<30,10-<50,0-<10,10-<50,0-<10,0-<10
4,PhD,Married,1,0,118,5,5,3,6,5,...,0,0,0,50000-<100000,>90,100-<200,10-<50,10-<50,10-<50,10-<50

In [35]:
min=df['MntMeatProducts'].min()
max=df['MntMeatProducts'].max()
print(min,max)
#

0 1725

In [38]:
bins=[0,50,100,500,1000,1300,1500,1700]
names=['0-<50','50-<100','100-<500','500-<1000','1000-<1300','1300-<1500','1500-<1700','>1700']
d = dict(enumerate(names, 1))
df['MntMeatProducts_range']=np.vectorize(d.get)(np.digitize(df['MntMeatProducts'],bins))
#df.head()

In [33]:
min=df['NumDealsPurchases'].min()
max=df['NumDealsPurchases'].max()
print(min,max)

0 15

In [40]:
bins=[0,5,10]
names=['0-<5','5-<10','>10']
d = dict(enumerate(names, 1))
df['NumDealsPurchases_range']=np.vectorize(d.get)(np.digitize(df['NumDealsPurchases'],bins))
#df.head()

In [34]:
min=df['NumWebPurchases'].min()
max=df['NumWebPurchases'].max()
print(min,max)

0 27

In [43]:
bins=[0,5,10,15,20,25]
names=['0-<5','5-<10','10-<15','15-<20','20-<25','>25']
d = dict(enumerate(names, 1))
df['NumWebPurchases_range']=np.vectorize(d.get)(np.digitize(df['NumWebPurchases'],bins))
#df.head()

In [41]:
min=df['NumCatalogPurchases'].min()
max=df['NumCatalogPurchases'].max()
print(min,max)

0 28

In [46]:
bins=[0,5,10,15,20,25]
names=['0-<5','5-<10','10-<15','15-<20','20-<25','>25']
d = dict(enumerate(names, 1))
#df['NumCatalogPurchases_range']=np.vectorize(d.get)(np.digitize(df['NumCatalogPurchases'],bins))
#df.head()

In [44]:
df=df.drop(['NumDealsPurchases','NumWebPurchases','NumCatalogPurchases','MntMeatProducts'],axis=1)
df.head()

,Education,Marital_Status,Kidhome,Teenhome,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,...,Recency_range,MntWines_range,MntFruits_range,MntFishProducts_range,MntSweetProducts_range,MntGoldProds_range,MntMeatProducts_range,NumDealsPurchases_range,NumWebPurchases_range,NumCatalogPurchases_range
0,Graduation,Single,0,0,4,7,0,0,0,0,...,50-<70,500-<1000,70-<100,150-<200,50-<100,50-<100,500-<1000,0-<5,5-<10,10-<15
1,Graduation,Single,1,1,2,5,0,0,0,0,...,30-<50,10-<50,0-<10,0-<10,0-<10,0-<10,0-<50,0-<5,0-<5,0-<5
2,Graduation,Together,0,0,10,4,0,0,0,0,...,10-<30,200-<500,10-<50,100-<150,10-<50,10-<50,100-<500,0-<5,5-<10,0-<5
3,Graduation,Together,1,0,4,6,0,0,0,0,...,10-<30,10-<50,0-<10,10-<50,0-<10,0-<10,0-<50,0-<5,0-<5,0-<5
4,PhD,Married,1,0,6,5,0,0,0,0,...,>90,100-<200,10-<50,10-<50,10-<50,10-<50,100-<500,5-<10,5-<10,0-<5

In [47]:
min=df['NumStorePurchases'].min()
max=df['NumStorePurchases'].max()
print(min,max)

0 13

In [50]:
bins=[0,5,10]
names=['0-<5','5-<10','>10']
d = dict(enumerate(names, 1))
df['NumStorePurchases_range']=np.vectorize(d.get)(np.digitize(df['NumStorePurchases'],bins))
#df.head()

In [49]:
min=df['NumWebVisitsMonth'].min()
max=df['NumWebVisitsMonth'].max()
print(min,max)

0 20

In [54]:
bins=[0,5,10,15]
names=['0-<5','5-<10','10-<15','>15']
d = dict(enumerate(names, 1))
#df['NumWebVisitsMonth_range']=np.vectorize(d.get)(np.digitize(df['NumWebVisitsMonth'],bins))
#df.head()

In [52]:
df=df.drop(['NumStorePurchases','NumWebVisitsMonth'],axis=1)
df.head()

,Education,Marital_Status,Kidhome,Teenhome,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,...,MntFruits_range,MntFishProducts_range,MntSweetProducts_range,MntGoldProds_range,MntMeatProducts_range,NumDealsPurchases_range,NumWebPurchases_range,NumCatalogPurchases_range,NumStorePurchases_range,NumWebVisitsMonth_range
0,Graduation,Single,0,0,0,0,0,0,0,0,...,70-<100,150-<200,50-<100,50-<100,500-<1000,0-<5,5-<10,10-<15,0-<5,5-<10
1,Graduation,Single,1,1,0,0,0,0,0,0,...,0-<10,0-<10,0-<10,0-<10,0-<50,0-<5,0-<5,0-<5,0-<5,5-<10
2,Graduation,Together,0,0,0,0,0,0,0,0,...,10-<50,100-<150,10-<50,10-<50,100-<500,0-<5,5-<10,0-<5,>10,0-<5
3,Graduation,Together,1,0,0,0,0,0,0,0,...,0-<10,10-<50,0-<10,0-<10,0-<50,0-<5,0-<5,0-<5,0-<5,5-<10
4,PhD,Married,1,0,0,0,0,0,0,0,...,10-<50,10-<50,10-<50,10-<50,100-<500,5-<10,5-<10,0-<5,5-<10,5-<10

In [55]:
df['Response'].value_counts()

Response
0    1906
1     334
Name: count, dtype: int64

In [56]:
df.to_csv('marketing_campaign_clean.csv',index=False)
from google.colab import files
files.download('marketing_campaign_clean.csv')