<a href="https://colab.research.google.com/github/asrianda/jurnal/blob/main/program_Diana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
df=pd.read_excel('dataset.xlsx')
df.head()

,No,Desa Kelurahan,Kecamatan,Tahun,Jumlah Penduduk,Kebutuhan Beras kg,Kategori
0,1,Sitinjak,Angkola Barat,2023,4523,515635.569,Tinggi
1,2,Simatorkis Sisoma,Angkola Barat,2023,3239,369255.717,Tinggi
2,3,Panobasan,Angkola Barat,2023,2159,246132.477,Tinggi
3,4,Siuhom,Angkola Barat,2023,1674,190841.022,Tinggi
4,5,Sigumuru,Angkola Barat,2023,1214,138399.642,Tinggi

In [43]:
df.isnull().sum()

No                    0
Desa Kelurahan        0
Kecamatan             0
Tahun                 0
Jumlah Penduduk       0
Kebutuhan Beras kg    0
Kategori              0
dtype: int64

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   No                  496 non-null    int64
 1   Desa Kelurahan      496 non-null    object
 2   Kecamatan           496 non-null    object
 3   Tahun               496 non-null    int64
 4   Jumlah Penduduk     496 non-null    int64
 5   Kebutuhan Beras kg  496 non-null    float64
 6   Kategori            496 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 27.3+ KB

In [45]:
df.columns = df.columns.str.replace(" ", "_")
df.head()

,No,Desa_Kelurahan,Kecamatan,Tahun,Jumlah_Penduduk,Kebutuhan_Beras_kg,Kategori
0,1,Sitinjak,Angkola Barat,2023,4523,515635.569,Tinggi
1,2,Simatorkis Sisoma,Angkola Barat,2023,3239,369255.717,Tinggi
2,3,Panobasan,Angkola Barat,2023,2159,246132.477,Tinggi
3,4,Siuhom,Angkola Barat,2023,1674,190841.022,Tinggi
4,5,Sigumuru,Angkola Barat,2023,1214,138399.642,Tinggi

In [46]:
df['Kategori'].value_counts()

Kategori
Tinggi    250
Rendah    246
Name: count, dtype: int64

In [47]:
min=df['Jumlah_Penduduk'].min()
max=df['Jumlah_Penduduk'].max()
print(min)
print(max)

188
11524

In [48]:
#df['Kebutuhan_Beras_kg'].value_counts()
min=df['Kebutuhan_Beras_kg'].min()
max=df['Kebutuhan_Beras_kg'].max()
print(min)
print(max)

21432.564
1298722.176

In [49]:
bins=[21432.564,50000,100000,200000,500000,750000,1000000,1100000]
names=['21432-<50000','50000-<100000','100000-<200000','200000-<500000','500000-<750000',
       '750000-<1000000','1000000-<1100000','>1100000']
d = dict(enumerate(names, 1))
df['Kebutuhan_Beras_Range']=np.vectorize(d.get)(np.digitize(df['Kebutuhan_Beras_kg'],bins))
df['Kebutuhan_Beras_Range'].value_counts()

Kebutuhan_Beras_Range
100000-<200000    193
50000-<100000     181
200000-<500000     76
21432-<50000       37
500000-<750000      7
>1100000            2
Name: count, dtype: int64

In [50]:
bins=[188,500,1000,3000,6000,9000]
names=['188-<500','500-<1000','1000-<3000','3000-<6000','6000-<9000','>9000']
d = dict(enumerate(names, 1))
df['Jumlah_Penduduk_Range']=np.vectorize(d.get)(np.digitize(df['Jumlah_Penduduk'],bins))
df['Jumlah_Penduduk_Range']

0      3000-<6000
1      3000-<6000
2      1000-<3000
3      1000-<3000
4      1000-<3000
          ...
491     500-<1000
492     500-<1000
493     500-<1000
494     500-<1000
495     500-<1000
Name: Jumlah_Penduduk_Range, Length: 496, dtype: object

In [58]:
#df = df.drop(columns=['Jumlah_Penduduk', 'Kebutuhan_Beras_kg'])
df=df.drop(columns=['No'])
df.head()

,Desa_Kelurahan,Kecamatan,Tahun,Kategori,Kebutuhan_Beras_Range,Jumlah_Penduduk_Range
0,207,1,1,1,4,2
1,193,1,1,1,1,2
2,116,1,1,1,1,0
3,211,1,1,1,0,0
4,177,1,1,1,0,0

In [59]:
df.head()

,Desa_Kelurahan,Kecamatan,Tahun,Kategori,Kebutuhan_Beras_Range,Jumlah_Penduduk_Range
0,207,1,1,1,4,2
1,193,1,1,1,1,2
2,116,1,1,1,1,0
3,211,1,1,1,0,0
4,177,1,1,1,0,0

In [60]:
from sklearn.preprocessing import LabelEncoder
# Inisialisasi LabelEncoder
le = LabelEncoder()

# Looping untuk mengubah semua kolom ke bentuk numerik
for col in df.columns:
    df[col] = le.fit_transform(df[col].astype(str))  # Konversi semua ke string dulu

print(df)

     Desa_Kelurahan  Kecamatan  Tahun  Kategori  Kebutuhan_Beras_Range  \
0               121          1      1         1                      4
1               105          1      1         1                      1
2                20          1      1         1                      1
3               126          1      1         1                      0
4                87          1      1         1                      0
..              ...        ...    ...       ...                    ...
491              17          7      0         0                      3
492              45          7      0         0                      3
493             129          7      0         0                      3
494             236          7      0         0                      3
495             144          7      0         0                      3

     Jumlah_Penduduk_Range
0                        2
1                        2
2                        0
3                        0
4                        0
..                     ...
491                      3
492                      3
493                      3
494                      3
495                      3

[496 rows x 6 columns]

In [61]:
df.to_excel('dataset_beras.xlsx',index=False)
from google.colab import files
files.download('dataset_beras.xlsx')